# 1. Dependency and Build Files
/node_modules           # Node.js dependencies
/dist
/build
/coverage               # Test coverage reports

# 2. Environment Variables
.env                    # Local environment variables
.env.local
.env.*.local
.DS_Store               # macOS system files
Thumbs.db               # Windows system files

# 3. Log and Temp Files
*.log                   # All log files
npm-debug.log*
yarn-debug.log*

# 4. Multer Uploads / Temporary Storage
/src/uploads/*          # Ignore all files inside uploads
/uploads/*              # Ignore all files inside uploads
temp_uploads/*          # Ignore temporary uploads folder


# 5. Cloudinary temp
.cld-temp

# 6. Database Files
*.sqlite
*.db
/data/*.sqlite
node_modules
